# Python virtual envs
.venv/
venv/
env/

# Python junk
__pycache__/
*.py[cod]
*.pyo

# OS/IDE
.DS_Store
.vscode/
.idea/

# Django/local
*.log
.env
.env.*
db.sqlite3
staticfiles/
media/

#logs
backend/logs/